data
baselines
*.h5
*.npy
__pycache__
*.png
*.out
*.sdf
*.smi
*.csv
*.tsv
*.hdf5
result
*.joblib
*.Rproj
*.pkl
*.json
.venv
.vscode
*.log
model_weights
others
figures
results
*checkpoints
*events.out.tfevents*
