data
baselines
DeepPurpose
*.h5
*.npy
__pycache__
*.png
*.out
*.sdf
*.smi
*.csv
*.tsv
*.hdf5
*.joblib
*.Rproj
*.pkl
*.json
.venv
.vscode
model_weights
others
figures
result_logs
results
*events.out.tfevents*
